body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  font-family: 'Roboto Mono',
  monospace;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

font{
    font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto Mono',monospace;
  font-family: 'Almarai', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgb(81, 81, 187);
}
*{box-sizing: border-box;}
.container{
  width: 60%;
  margin: 10% auto;
}
.list-items{
  background-color: #fff;
  color: rgb(78, 78, 142);
}
.list-items p{
color: red;
text-align: center;
padding: 10px 0px;
margin: 0px;
}
.list-items div span{
  display: inline-block;
padding: 10px 0;
text-align: center;
font-size: 20px;
/* border: .2px solid #ccc; */
}
.list-items span.name,
form input[type='submit'],
.input-name

{
width: 50%;
}
.list-items span.age ,.input-age
{
width: 30%;
}

.list-items span.add,.input-add{
  width: 20%;}
.title{
  color: white;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  background-color: black;
}
.header-age{
  width: 30%;
}
.header-name{
  width: 50%;
}
.header-action{
  width: 20%;
}
form{display: flex;}

.input-add,.input-name,.input-age{
  display: inline-block;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 2px solid wheat;
  outline: 2px solid white;
  height: 20px;
  padding: 20px;
  text-align: center;
}
.special{
  width: 20% !important;
  cursor: pointer;
}
.add{
  color: red;
  cursor: pointer;
}