*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Almarai', sans-serif;
    overflow: hidden;
}
:root{
    --containerBackground:#FFFFFF;
    --headingColor:#025CC8;
    --borderInputColor:#F5AEA5;
    --inputBackgroundColor:#878787;
    --inputBackgroundColor:#FF5945;
    --numberOfTasks:#025EC9;


}
.main-background{
    
    background-color:#232A70 ;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: var(--headingColor);
        text-align: center;
            padding: 20px;
            letter-spacing: 2px;
}
.container{
    margin: auto auto;
    width: 50vw;
    background-color: var(--containerBackground);
    padding: 10px;
        border: 1px solid var(--inputBackgroundColor);
        max-width: 1200px;
            /* Set an appropriate value */
            margin: 0 auto;
}

.input-style{

    flex: 1;
    background-color: var(--inputBackgroundColor);
        padding: 10px;
        border: none;
        height: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
            /* Remove default outline */
        
            /* Add transition for smooth animation */
            transition: border-color 0.3s;
}
.input-style:hover,
.input-style:focus{
 outline-color:none ;
 border-color: transparent;
background-color: var(--inputBackgroundColor);
color: black;
border-color: transparent;
    /* Remove border */
}
.edit{
    background-color: white;
}
.input-style::placeholder{
    color:var(--containerBackground)
}

.form{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid black;
}
.btn{
    border: none;
    outline: none;
    padding: 5px;
    width: 25%;
}
.btn:hover{
    cursor: pointer;
}
.hover{
    background: var(--borderInputColor);
    color: black;
}
.todo-style{
        display: grid;
        grid-template-columns: 75% 25% 25%;
        align-items: center;
        padding: 15px;
        border: 1px solid black;
       
        padding-right: 30px;
}
.todo-style:nth-last-child(2){
         border-bottom: 1px solid transparent;}
.todo-style:nth-child(3){
            border-top: 1px solid transparent;
            }

.icon-style{
        padding-right: 10px;
        color: #025EC9;
}

.footer{
    color: var(--headingColor);
        background-color: var(--borderInputColor);
        margin-top: 10px;
        text-align: center;
        padding: 10px;
        border: 1px solid var(--borderInputColor);
}